@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.dancing_fnt {
	font-family: 'Dancing Script', cursive;
}

.text_indent {
	text-indent: 30px;
}

@keyframes gradient {
	0%,
	100% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
}

/* background-image: linear-gradient(
		135deg,
		rgba(240, 2, 248, 1) 0%,
		rgba(5, 253, 216, 1) 35%,
		rgba(118, 96, 230, 1) 100%
	); */
@keyframes gradient {
  0% {
    border-image-source: linear-gradient(135deg, rgba(240, 2, 248, 1) 0%, rgba(118, 96, 230, 1) 35%, rgba(5, 193, 154, 1) 100%);
  }
  50% {
    border-image-source: linear-gradient(135deg, rgba(5, 193, 154, 1) 0%, rgba(240, 2, 248, 1) 35%, rgba(118, 96, 230, 1) 100%);
  }
  100% {
    border-image-source: linear-gradient(135deg, rgba(118, 96, 230, 1) 0%, rgba(5, 193, 154, 1) 35%, rgba(240, 2, 248, 1) 100%);
  }
}

.animated-gradient-border {
  border-width: 5px;
  border-style: solid;
  border-image-source: linear-gradient(135deg, rgba(240, 2, 248, 1) 0%, rgba(118, 96, 230, 1) 35%, rgba(5, 193, 154, 1) 100%);
  border-image-slice: 1;
  animation: gradient 6s ease-in-out infinite;
}


@layer base {
	::-webkit-scrollbar-thumb {
		@apply bg-transparent shadow-sm;
	}
	::-webkit-scrollbar {
		@apply w-1 md:w-2 bg-transparent;
	}
	::-webkit-scrollbar-thumb {
		@apply rounded-none bg-styled-green;
	}
}
