@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.dancing_fnt {
	font-family: 'Dancing Script', cursive;
}

@layer base {
	::-webkit-scrollbar-thumb {
		@apply bg-transparent shadow-sm;
	}
	::-webkit-scrollbar {
		@apply w-1 md:w-2 bg-transparent;
	}
	::-webkit-scrollbar-thumb {
		@apply rounded-none bg-styled-green;
	}
}
